/*stylesheet start*/
[id^=demo] {
  display: none;
}
#contentwrap {
  width: 480px;
  margin: 0 auto;
  border: 1px solid #dddddd;
  overflow: hidden;
  margin-top: 30px;
}
#content {
  padding: 0 18px;
  height: 117px;
  overflow: hidden;
  border-bottom: 1px solid #ddd;
  -webkit-transition: height 0.3s ease-out;
}
#flod {
  float: right;
  line-height: 30px;
  display: block;
}
#demo_layer {
  display: block;
  width: 100%;
  overflow: hidden;
}
#innerwrap {
  width: 960px;
  overflow: hidden;
}
[id^=layer] {
  height: 533px;
  width: 320px;
  float: left;
  overflow: auto;
  box-sizing: border-box;
  border: 1px solid #dddddd;
  padding: 5px 15px;
}
#layer_2 {
  background: red;
}
#layer_3 {
  background: #DD3;
}
